    <footer>
        <p>Developed by Perfect Nkosi</p>
        <div class="pexels-photo-links">
            <p>I do not claim ownership of the background images. All credit goes to the rightful owners listed below, from
                <a href="https://www.pexels.com">Pexels</a>
            </p>
            <div class="attribution">
                <small>
                    <a href="https://www.pexels.com/photo/low-angle-shot-of-bare-trees-under-the-starry-night-sky-11767542/">Ilkin  Abdullaev</a>
                    <a href="https://www.pexels.com/photo/bright-dark-clouds-dawn-dramatic-209807/">Pixabay</a>
                    <a href="https://www.pexels.com/photo/landscape-photograph-of-skies-912364/">Brett Sayles</a>
                </small>
            </div>
        </div>
    </footer>

    <script src="js/DayTime.js"></script>
</body>
</html>